In [25]:
import pandas as pd
ucla_discord = pd.read_csv('ucla_discord.csv', encoding= 'unicode_escape')
ucla_discord = ucla_discord.dropna()
ucla_discord

            Author      Date          Content
0      stevie#5520   11/7/22            I got
1      stevie#5520   11/7/22           Hotpot
2      stevie#5520   11/7/22     That was gr8
3       Aspic#0631   11/7/22            :lfg:
4      Chris.#0132   11/7/22             yumm
...            ...       ...              ...
90546   Rogue#0710  12/25/22       bbbbbbbbbb
90547  Olivia#3251  12/25/22  Who's still up?
90549  Olivia#3251  12/25/22              Why
90551  Olivia#3251  12/25/22                ?
90553   nuahs#2857  12/25/22          so cute

[88489 rows x 3 columns]

In [34]:
ucla_strike = ucla_discord[ucla_discord['Content'].str.contains("strike", case=False) |
                           ucla_discord['Content'].str.contains("striking", case=False) |
                           ucla_discord['Content'].str.contains(" ta ", case=False) |
                           ucla_discord['Content'].str.contains("research", case=False) |
                           ucla_discord['Content'].str.contains("postdoc", case=False) |
                           ucla_discord['Content'].str.contains("grad", case=False) |
                           ucla_discord['Content'].str.contains("phd", case=False) |
                           ucla_discord['Content'].str.contains("ta's", case=False) |
                           ucla_discord['Content'].str.contains("picket", case=False) |
                           ucla_discord['Content'].str.contains("protest", case=False) |
                           ucla_discord['Content'].str.contains("union", case=False) |
                           ucla_discord['Content'].str.contains("grade", case=False) |
                           ucla_discord['Content'].str.contains("grading", case=False) |
                           ucla_discord['Content'].str.contains(" tas", case=False) |
                           ucla_discord['Content'].str.contains("solidarity", case=False) |
                           ucla_discord['Content'].str.contains("taing", case=False) |
                           ucla_discord['Content'].str.contains("bargain", case=False) |
                           ucla_discord['Content'].str.contains("contract", case=False) |
                           ucla_discord['Content'].str.contains("uaw", case=False) |
                           ucla_discord['Content'].str.contains("uc ", case=False) |
                           ucla_discord['Content'].str.contains("agreement", case=False) |
                           ucla_discord['Content'].str.contains("steinberg", case=False) |
                           ucla_discord['Content'].str.contains("jaime", case=False) |
                           ucla_discord['Content'].str.contains("drake", case=False) |
                           ucla_discord['Content'].str.contains("ratify", case=False) |
                           ucla_discord['Content'].str.contains("reject", case=False)]
pd.set_option('display.max_colwidth', None)
ucla_strike

,Author,Date,Content
386,jas#8080,11/7/22,Dude i rejected her friend request in hs
569,loser#1914,11/7/22,when the grad courses are still introduction to X courses :kirbeter:
589,jas#8080,11/7/22,the only reason i said that is because he got sick at week 4 and another lecturer took over and everyone got good grades :holyfuck:
590,Ghoulifer the Great#4620,11/7/22,tbf they'd prob get good grades anyway
678,Ghoulifer the Great#4620,11/7/22,I was 1 percent in my discussion grade away from an A in my GE my first quarter
...,...,...,...
90313,Rogue#0710,12/25/22,watching recorded reruns of family guy in the 5th grade
90414,Rogue#0710,12/25/22,mine was in 4th grade so uhhh
90415,nuahs#2857,12/25/22,best friend since 4th grade
90417,tuna#1041,12/25/22,1st grade
90420,enri#2478,12/25/22,and it was 6th grade i think

In [40]:
ucla_strike.to_excel("ucla_strike.xlsx")
#will manually edit the excel file